beautifulsoup4==4.12.2
ipython==8.10.0
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.3
pandas_datareader==0.10.0
plotly==5.10.0
protobuf==4.21.10
requests==2.31.0
streamlit==1.23.0
tweepy==4.12.0
yahoo_fin==0.8.9.1
yfinance==0.2.15
